<app-admin-nav>
    <div class="container">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Department Name</th>
              <th>Action</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let department of departments">
              <td>{{department.departmentId}}</td>
              <td>{{department.departmentName}}</td>
              <td>
                <a routerLink="/units" style="color:blue;">Edit</a>
              </td>
              <td>
                <a (click)='deleteDepartment(department.departmentId)' type="button" style="color: red" aria-label="Left Align">
       
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                   
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
</app-admin-nav>
