<div style="background-color: #4ca973">
  <div class="jumbotron" style="background-image: url('../../assets/msu.png')"><br><br></div>
  <nav class="navbar navbar-default" style="background-color: #4ca973">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ><a style="color: white" routerLink="/admindepartment">Departments</a></li>
          <li><a style="color: white" routerLink="/adminProgram">Programs</a></li>
          <li><a style="color: white" routerLink="/adminUnit">Units</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a style="color: white" routerLink="/dashboard">Logout</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  </div>
  