<mat-sidenav-container id="sidenav-container" *ngIf="showNavbar">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Staff Panel</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/school">
        <mat-icon>view_list</mat-icon>
        View reports</a>
      <br>
      <a mat-list-item routerLink="/admindepartment">
        <mat-icon>view_list</mat-icon>
        Edit departments</a>
      <br>
      <a mat-list-item routerLink="/adminProgram">
        <mat-icon>view_list</mat-icon>
        Edit Programs</a>
      <br>
      <a mat-list-item routerLink="/adminUnit">
        <mat-icon>view_list</mat-icon>
        Edit units</a>
      <br>
      <a mat-list-item routerLink="/department">
        <mat-icon>exit_to_app</mat-icon>
        Student Panel</a>
      <br>

      <a mat-list-item (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon" style="color: white">menu</mat-icon>
      </button>
      <span style="color: white">
        <h3></h3>
      </span>
    </mat-toolbar>
    <br>
    <br>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>