<app-admin-nav>
<br>
<br>
<div class="container">
<div class="jumbotron" style="text-align: center">
        <strong> Graph showing NPS for the overall effectiveness of lab Equipments </strong>
</div>
<div class="margin">
    <div class="center" *ngIf="chart">
        <canvas id="canvas">{{chart}}</canvas>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <a class="pull-left" routerLink="../school">Previous</a>
        <a class="pull-right" routerLink="../classroom">Lecture Halls</a>
    </div>
</div>
<div class="jumbotron" style="text-align: center">
        <strong>Students Observations</strong>
</div>
<div class="center" *ngFor="let comment of comments">
        <li>{{comment}}</li>
    </div>
</div>
</app-admin-nav>