<app-admin-nav></app-admin-nav>
<div class="container">
    <br>
    <form class="form-inline" (ngSubmit)="addUnit()" #addform="ngForm">
      <div class="form-group">
        <label class="sr-only">Program Code</label>
        <select class="form-control" name="programId" [(ngModel)]="model.programId" required #programId="ngModel" placeholder="Enter program code"
          #programId>
          <option *ngFor="let program of programs" [value]="program.programId">{{program.programName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only">Unit Code</label>
        <input type="text" class="form-control" name="unitCode" [(ngModel)]="model.unitCode" required #unitName="ngModel" placeholder="Enter Unit code"
          #unitCode>
      </div>
      <div class="form-group">
        <label class="sr-only">Unit Name</label>
        <input type="text" class="form-control" name="unitName" [(ngModel)]="model.unitName" required #unitName="ngModel" placeholder="Enter Unit Name"
          #unitName>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!addform.form.valid">Add Unit</button>
    </form>
    <br>
    <br>
  </div>