/* hr{
    box-shadow: 0 0 2px grey;
} */
button {
    /* background-color:#4ca973; */
    color: #ffffff;
    font-family: 'Trocchi', serif;
     font-size: 15px;
    font-weight: normal;
 margin: 0; }
