<app-admin-nav></app-admin-nav>
<div class="container">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>program Name</th>
          <th>Action</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let program of programs">
          <td>{{program.programId}}</td>
          <td>{{program.programName}}</td>
          <td>
            <a routerLink="/units" style="color:blue;">Edit</a>
          </td>
          <td>
            <a (click)='deleteprogram(program.programId)' type="button" style="color: red" aria-label="Left Align">
   
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
               
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
<div class="container">
    <div style="color: green" *ngIf="showAlert">Program Added Successfully</div>
    <br>
    <form class="form-inline" (ngSubmit)="addProgram()" #addform="ngForm">
      <div class="form-group">
        <label class="sr-only">Program Code</label>
        <input type="number" class="form-control" name="programId" [(ngModel)]="model.programId" required #programId="ngModel"
          placeholder="Enter Program Code" #ProgramId>
      </div>
      <div class="form-group">
        <label class="sr-only">Program Name</label>
        <input type="text" class="form-control" name="programName" [(ngModel)]="model.programName" required #programName="ngModel"
          placeholder="Enter Program Name" #ProgramName>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!addform.form.valid">Add Program</button>
    </form>
    <br>
    <br>
  </div>