<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <a routerLink="/school" mat-menu-item>
          <mat-icon>view_list</mat-icon>
          <span>Staff Panel</span>
        </a>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">Computing and Informatics NPS</span>
</mat-toolbar>
<br><br><br>