<app-navbar></app-navbar>
<div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" >
      <h3>WELCOME</h3>
      <h4>With this Survey we want to find out how you and your classmates think about Services Offered by this school. Click <b>Start Survey</b> to give us your feedback
      </h4>
      <br><br>
      <br><br>
      <div class="footer">
        <div class="row center">
          <div class="col-xs-3 col-xs-offset-0 col-sm-3 col-sm-offset-0 col-md-2 col-md-offset-0" >
              <button type="button"  class="btn  button pull-left" (click)="onCancel()">Cancel survey</button>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-8" >
          <button type="button"  class="btn  button pull-right" (click)="onStart()">Start survey</button>
          </div>
    
        </div>
      </div>

    </div>
    </div>
  </div>
