b{
  color: red
}
button {
  background-color:#3f51b5;
  color: #ffffff;
  font-family: 'Trocchi', serif;
   font-size: 15px;
   height: 1.5em;
   width: 7em;
   text-align: center;
   line-height: 10px;
  font-weight: normal;
margin: 0; }
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}

h3 {
  font-size: 1.7em;
  color: #607D8B;
  margin-top: 0;
  text-align:left; 
}

  h4 {
  font-size: 1.2em;
  color: #999;
  margin-left: 0;
  }
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
  text-align: left;
  font-family: sans-serif;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
.button{
  line-height: 0.8em; /* <- changed this */
  box-sizing: border-box;
}

.footer {
  position: fixed;
  bottom: 1em;
  width: 100%;
}