<app-admin-nav></app-admin-nav>
<br>
<div style="text-align:center">
    <strong > Graph showing NPS  rate for the classroom facilities offered by the school</strong>
</div>
<br>
<div class="margin">
    <div class="center" *ngIf="chart">
        <canvas id="canvas">{{chart}}</canvas>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12" >
        <a class="pull-left" routerLink="../lab">Previous</a>
        <a class="pull-right" routerLink="../conclusion">Recomendations</a>
      </div>
</div>