<app-admin-nav>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
      <div style="color: green" *ngIf="showAlert">Department Added Successfully</div>
      <br>
      <form class="form" (ngSubmit)="addDepartment()" #addform="ngForm">
        <div class="form-group">
          <label class="sr-only">Department Id</label>
          <input type="text" class="form-control" name="departmentId" [(ngModel)]="model.departmentId" required #departmentId="ngModel"
            placeholder="Enter Department Id" #departmentId>
        </div>
        <br>
        <div class="form-group">
          <label class="sr-only">Department Name</label>
          <input type="text" class="form-control" name="departmentName" [(ngModel)]="model.departmentName" required #departmentName="ngModel"
            placeholder="Enter Department Name" #departmentName>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!addform.form.valid">Add Department</button>
        <br>
        <a routerLink="../listDepartments" class="pull-right">View</a>
      </form>
      <br>
      <br>
      </div>
      <div class="col-md-2"></div>
      </div>
    </div>
  </app-admin-nav>